
body{
    background-color: #cfcfcf;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
}
.h{
    color: #D8C690;
}
.container a{
    text-decoration: none;
    color: #D8C690;
}
.menu {
    position: absolute;
    z-index: 2;
    width: 50px;
    background: rgb(32, 32, 32);
    top: 0;
    left:0px
}

.menu a {
    color: #D8C690;
    display: block;
    padding: 12px;
    text-decoration: none;
    line-height: 2;
    font-size: x-large;
    transition:0.5s ;
    -webkit-transition:0.5s ;
    -moz-transition:0.5s ;
    -ms-transition:0.5s ;
    -o-transition:0.5s ;
}

.menu a:hover {

    background-color: #696969 ;
}

.menu a.active {
    background-color: #313131; 
    color: #D8C690;
}

.header{
    padding: 20px;
    width: 1436px;
    
}
.logo{ 
    position: relative;
    top: 4px;
    left: 30px;
    width: 300px;

    
}
.container{
    position:absolute;
    z-index: 3;
    background-image:linear-gradient(to right,rgb(32, 32, 32),#363636);
    top: 0;
    left: 40px;
    width: 97.2%;
    height: 70px;
    padding: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.links{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 60px;
    font-size: 16px;
    letter-spacing: 5px;
    word-spacing: 15px;
}
hr{
    background-color: #D8C690;
    border: solid 0.5px;
    border-color: #D8C690;
    opacity: 50%;
}
.parent{
    background-color: #F4F4F4; 
    position:absolute;
    top: 85px;
    left: 65px;
    width: 1436px;
    height: 624px;
    padding: 0;
    

}
.header2{
    background-color: #5E5C5C;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0;
}
hr{
    
    box-sizing: border-box;
    position: relative;
    left: 0px;
    top: 50px;
    background-color: #D8C690;
    border: solid 0.5px;
    border-color: #D8C690;
    margin-top: -1%;
    opacity: 50%;
    width: 59%;
}

.send,.save2,.save3, .back ,.save,.send,.go_session,.go_exsession,.go_investigation{
    margin:20px 0 0 0;
    box-sizing: border-box;
    background-color: #494949;
    border-radius: 1px;
    border:none;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    color: #D8C690;
    padding: 0px;
    margin-right: 17px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    opacity: 95%;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.save,.back,.save2,.save3,.send{
    height: 40px;
    width: 150px;
}


.buttons{
    position: absolute;
    left: 920px;
    top: 422px;
    display: flex;
    flex-direction: row;
}

button{
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

button:hover{
    background-color: #696969;
}

button:active{
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

::placeholder{
    box-sizing: border-box;
    color: #363636;;
}

.header2{
    background-color: #5E5C5C;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0;
    color:#D8C690;
}

.header2content{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.header2Image{
    height: 100%;
    width: 68px;
    margin-top: 5px;
    margin-left: 10px;
    position: relative;
    top: 14px;
    left: 20px;
    font-size: xx-large;

}

.header2Text{
    color: #D8C690;    
    font-family: 'Saira Extra Condensed', sans-serif;   
    font-size: 30px;
    font-weight: 00;
    margin-top: 14px;
    width: 27px;
    margin-left: -567px;
}

.child{
    flex: 1;
}

.child:first-child {
    margin-right: 0px;
}

.inputs{
    background-color:#F4F4F4;
    position: absolute;
    top: 86px;
    left: 33px;
    width: 1393px;
    height: 514px;
    padding-left: 10px;
}

input{
    margin-top: -5px;
    font-family: "Quicksand", sans-serif;
    height: 30px;
    width: 300px;
    font-size: 15px;
    line-height: 36px;
    opacity: 90%;
    width: 250px;
}

.inputsText{
    margin-top: 17px;
    height: 30px;
    width: 300px;
    padding-left: 10px;
    font-family: "Quicksand", sans-serif;
}

.inputsName{
    font-family: "Quicksand", sans-serif;
}

.iconFilter{
    filter: invert(0.7);
    -webkit-filter: invert(0.7);
}

h3{
    margin-bottom: 2%;
    
}
/*first row*/
.circle{
    position:absolute;
    top: 0px;
    left: 20px;
}
.court{
    position:absolute;
    top: 0px;
    left: 470px;
}

#court{
    width: 316px;
}

.case_type{
    position:absolute;
    top: 0px;
    left: 920px;
}

.contender_attachments input, .client_attachments input{
    border: none;
    color: #363636;
}
.contender_attachments{
    position:absolute;
    top: 90px;
    left: 920px;
}
.inputsSelect{
    margin-top: 15px;
    width: 281px;
    height: 36px;
    font-family: "Quicksand", sans-serif;
    padding-left: 10px;
}
/**/
/*second row*/
.contender{
    position:absolute;
    top: 90px;
    left: 470px;
}
.session{
    position:absolute;
    top: 295px;
    left: 920px;
}
.expert_session{
    position: absolute;
    top: 295px;
    left: 1087px;
}

.go_session{
    height: 40px;
    width: 150px;
    position: absolute;
}
.go_exsession{
    height: 40px;
    width: 150px;
    position: absolute;
}
.session input:hover ,.investigation input:hover,.expert_session input:hover{
    background-color: #ffffff;
}
.session input ,.investigation input,.expert_session input{
    color: #000000;
    font-weight: bold;
    cursor:pointer;
    
}

.expense_tap,.payment_tap{
    background-color: #5E5C5C;
    box-sizing: border-box;
    border-radius: 5%;
    position: fixed;
    top: 224px;
    left: 571px;
    width: 419px;
    height: 340px;
}
.label1{
    position: absolute;
    top: 160px;
    left: 63px;
}
.label2{
    position: absolute;
    top: 224px;
    left: 63px;
}
.label3{
    position: absolute;
    top: 99px;
    left: 80px;
}
table{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    background-color: #cfcfcf;
    width: 100%;
    overflow-x: hidden;
}
.searchResult{
    position: relative;
    top: 32px;
    left: 11%;
    overflow-y: scroll;
    overflow-x: scroll;
    width: 80%;
    max-height: 112px;
    
}
.expense_tap input ,.payment_tap input{
    border: none;
    background-color: #5E5C5C;
    color: #D8C690;
    position: relative;
    left: 85px;
    top: 50px;
    text-align: center;
    outline: none;
}
.expense_tap input::placeholder ,.payment_tap input::placeholder,.add_tap input::placeholder{
    
    color: #D8C690;
    
}

.expense_tap button ,.payment_tap button{
    position: relative;
    left: 51px;
    bottom: -26px;
}
.expenses{
    position:absolute;
    top: 180px;
    left: 20px;
}
.payment{
    position:absolute;
    top: 180px;
    left: 470px;
}
.expenses input:hover ,.payment input:hover{
    background-color: #cfcfcf;
    cursor: pointer;
}
/**/
/*third row*/
.client{
    position:absolute;
    top: 90px;
    left: 20px;
}
.investigation{
    position:absolute;
    top: 203px;
    left: 400px;
}
.go_investigation{
    height: 40px;
    width: 317px;
    position: absolute;
    top: 156px;
    left: 520px;    
}
.client_attachments{
    position:absolute;
    top: 180px;
    left: 920px;
}
.client_name{
    position:absolute;
    top: 200px;
    left: 1100px;
}
.button_add{
    background-color: #5E5C5C;
    position: absolute;
    top: 125px;
    left: 300px;
    width: 36px;
    height: 36px;
    border: none;
    text-decoration: none;
    display: block;
    color: #D8C690;
    font-size: 45px;
    align-content: center;
    flex-wrap: wrap-reverse;
    padding: 0px;
}

/**/
/*fourth row*/
.content{
    position:absolute;
    top: 270px;
    left: 20px;
    overflow-wrap:normal;
}
.content textarea{
    width: 300px;
    height: 180px;
    padding: 10px;
    font-size: 18px;
}
.notestext{
    overflow-wrap: break-word;
    text-overflow:ellipsis
}
.notes{
    position:absolute;
    top: 270px;
    left: 470px;
}
.notes textarea{
    width: 300px;
    height: 180px;
    padding: 10px;
    font-size:18px;
}
/**/
.pos{
    position: absolute;
    top: 0px;
    left: 33px;
}

.add_tap{
    box-sizing: border-box;
    border-radius: 5%;
    position: fixed;
    top: 174px;
    left: 571px;
    width: 419px;
    height: 526px;
    background-color: #5E5C5C;

}
.add_tap input{
    position: relative;
    top: 3px;
    left: 81px;
    border: none;
    background-color: #5E5C5C;
    color: #D8C690;
    outline: none;
}
.add_tap button{
    position: relative;
    top: -73px;
    left: 54px;

}
.add_tap hr{
    position: relative;
    top: 5px;
    left: -4px;
    background-color: #D8C690;
    border: solid 0.5px;
    border-color: #D8C690;
    margin-top: -2%;
    opacity: 50%;
}
