body{
    background-color: #cfcfcf;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
}
.h{
    color: #D8C690;
}
.container a{
    text-decoration: none;
    color: #D8C690;
}
a{
    text-decoration: none;
}
.menu {
    position: absolute;
    width: 50px;
    background: rgb(32, 32, 32);
    top: 0;
    left:0px
}

.menu a {
    color: #D8C690;
    display: block;
    padding: 12px;
    text-decoration: none;
    line-height: 2;
    font-size: x-large;
    transition:0.5s ;
    -webkit-transition:0.5s ;
    -moz-transition:0.5s ;
    -ms-transition:0.5s ;
    -o-transition:0.5s ;
}

.menu a:hover {

    /* Dark grey background on mouse-over */
    background-color: #696969 ;
}
.header{
    padding: 20px;
    width: 1436px;
    
}
.logo{ 
    position: relative;
    top: 4px;
    left: 30px;
    width: 300px;

    
}
.container{
    position:absolute;
    background-image:linear-gradient(to right,rgb(32, 32, 32),#363636);
    top: 0;
    left: 40px;
    width: 97.4%;
    height: 70px;
    padding: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.links{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 60px;
    font-size: 16px;
    letter-spacing: 5px;
    word-spacing: 15px;
}

hr{
    background-color: #D8C690;
    border: solid 0.5px;
    border-color: #D8C690;
    opacity: 50%;
}
.parent{
    background-color: #F4F4F4; 
    position:absolute;
    top: 85px;
    left: 65px;
    width: 1436px;
    height: 622px;
    padding: 0;
    

}
.header2{
    background-color: #5E5C5C;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0;
}

.button_add{
    background-color: #5E5C5C;
    position:absolute;
    top: 535px;
    left: 1310px;
    width: 73px;
    height: 73px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #D8C690;
    font-size: 45px;
    border-radius: 50%;
    border: 10px;    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.button_add:hover{
    background-color: #757575;
}

.button_add:active{
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}
.view{
    position: relative;
    left: 0px;
    top: 1px;
    width: 116px;
    height: 50px;
    background-color: #494949;
    border:none;
    border-radius:2px ;
    font-size: 20px;
    color: #D8C690;
    padding: 10px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: 0%;
    padding: 0%;
    -webkit-border-radius:2px ;
    -moz-border-radius:2px ;
    -ms-border-radius:2px ;
    -o-border-radius:2px ;
}

.view:hover{
    background-color: #5e5e5e;  
}

.view:active{
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.edit{
    position:relative;
    left: 8px;
    top: 1px;
    width: 116px;
    height: 50px;
    background-color: #494949;
    border:none;
    border-radius: 2px;
    font-size: 20px;
    color: #D8C690;
    padding: 10px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: 0%;
    padding: 0%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}


.edit:hover{
    background-color: #5e5e5e;  
}

.edit:active{
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.add_page{
    display:none;
    position: absolute;
    top: 183px;
    left: 200px;
    overflow: hidden;
    margin-left: 309px;
    margin-top: 36px;
    box-sizing: border-box;
    background-color: #5E5C5C;
    width: 529px;
    height: 415px;
    border-radius: 10%;
}
.add{    
    position: relative;
    top: -2%;
    left: 26%;
}
input{
    color: #D8C690;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;
    font-size: 17px;
    line-height: 42px;
    opacity: 90%;
    width: 250px;
}

hr{
    
    box-sizing: border-box;
    position: relative;
    left: -136px;
    background-color: #D8C690;
    border: solid 0.5px;
    border-color: #D8C690;
    margin-top: -2%;
    opacity: 50%;
    width: 47%;
}
::placeholder{
    box-sizing: border-box;
    color: #D8C690;
}

.header2{
    background-color: #5E5C5C;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0;
    color:#D8C690;
}
.header2content a{
    color: #D8C690;
}

.header2content{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.header2Image{
    height: 100%;
    width: 68px;
    margin-left: 10px;

}
.caselist{
    position: absolute;
    left: 108px;
    top: 0px;
    background-color: #5E5C5C;
    height: 56px;
    width: 170px;
    padding-top: 14px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}
.courtlist{
    position: absolute;
    left: 308px;
    top: 0px;
    background-color: #F4F4F4;
    height: 56px;
    width: 178px;
    padding-top: 14px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.caselist:hover{
    background-color:#757575 ;
}

#header2image{
    width: 38px;
    margin: 16px;
}

.header2Text{
    color: #D8C690;
    font-family: 'Saira Extra Condensed', sans-serif;   
    font-size: 30px;
    font-weight: 500;
    width: 27px;
    margin-top: 22px;
    margin-left: -245px;
}

.child{
    flex: 1;
}

.child:first-child {
    margin-right: 0px;
}
.search{
    position: relative;
    left: 700px;
    top: 13px;
} 
.search_bar{
    background-color: #F4F4F4;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    color: black;
    padding-left: 10px;
}
.fa-magnifying-glass{
    width: 40px;
    font-size: x-large;
}
.header2Image{
    position: relative;
    top: 20px;
    left: 20px;
    font-size: xx-large;
}

tr{
    transition: 0.2s;
    -webkit-transform: 0.2s;
    -moz-transform: 0.2s;
    -ms-transform: 0.2s;
    -o-transform: 0.2s;
}

tr:hover {background-color: #E3E3E3;}

th,td{
    /*to get rid of the double border*/
    border-collapse: collapse;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
th{
    background-color: #5E5C5C;
    height: 70px;
    font-family: 'Saira Extra Condensed', sans-serif;   
    font-size: 25px;
    color: #D8C690;
    letter-spacing: 2px;
}
.table-responsive{
    overflow-y: scroll ;
    position: absolute;
    top: 12%;
    left: 1%;
    width: 97.5%;
    border-collapse: collapse;
    height: 70%;
}
table{
    position: absolute;
    top: 3%;
    left: 1%;
    width: 97.5%;
    border-collapse: collapse;
    height: 25%;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Quicksand', sans-serif;   
}
tbody a{
    color: #363636;
}