body{
    background-color: #cfcfcf;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
}

.h{
    color: #D8C690;
}

.container a{
    text-decoration: none;
    color: #D8C690;
}

.menu {
    position: fixed;
    z-index: 2;
    width: 50px; /* Set a width if you like */
    /*background-color: #313131;*/
    background: rgb(32, 32, 32);
    top: 0;
    left:0px
}

.menu a {
    /*Greybackgroundcolor*/color: #D8C690;
    /*whitetextcolor*/display: block;
    /*Makethelinksappearbeloweachother*/padding: 12px;
    /*Addsomepadding*/text-decoration: none;
    /*Removeunderlinefromlinks*/line-height: 2;
    font-size: x-large;
    transition:0.5s ;
    -webkit-transition:0.5s ;
    -moz-transition:0.5s ;
    -ms-transition:0.5s ;
    -o-transition:0.5s ;
}

.menu a:hover {

    /* Dark grey background on mouse-over */
    background-color: #696969 ;
}
.header{
    padding: 20px;
    width: 1436px;
    
}
.logo{ 
    position: relative;
    left: 30px;
    top: 4px;
    width: 300px;

    
}
.container{
    position:fixed;
    z-index: 3;
    background-image:linear-gradient(to right,rgb(32, 32, 32),#363636);
    top: 0;
    left: 40px;
    width: 100%;
    height: 70px;
    padding: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.links{
    position: relative;
    /*
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */
    font-family: "Quicksand", sans-serif;
    padding-right: 60px;
    font-size: 16px;
    letter-spacing: 5px;
    word-spacing: 15px;
}

.menu a.active {
    background-color: #313131; 
    color: #D8C690;
}


hr{
    background-color: #D8C690;
    border: solid 0.5px;
    border-color: #D8C690;
    opacity: 50%;
}
.parent{
    background-color: #F4F4F4; 
    position:absolute;
    top: 85px;
    left: 65px;
    width: 1436px;
    height: 627px;
    padding: 0;
    overflow: scroll;
    overflow-x:hidden;
}

.header2{
    background-color: #5E5C5C;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0;
    color:#D8C690;
}

.header2content{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.header2Image{
    height: 100%;
    width: 68px;
    margin-left: 10px;
    position: relative;
    top: 17px;
    left: 15px;
    font-size: xx-large;

}

#header2image{
    width: 38px;
    margin: 16px;
    color: #D8C690;
}

.header2Text{
    color: #D8C690;
    font-family: 'Saira Extra Condensed', sans-serif;   
    font-size: 30px;
    font-weight: 00;
    margin-top: 14px;
    margin-left: -567px;
    
}

.child{
    flex: 1;
}

.child:first-child {
    margin-right: 0px;
} 

#calendar{
    position: absolute;
    top: 70px;
    margin-left: 25px;
    height: 557px;
    width:450px;
}

.inputs{
    position:relative;
    left: 6%;
    top: 110px;
    width: 90%;
    height: 80%;
}

.inputsName{
    margin-bottom: 200px;
    font-family: "Quicksand", sans-serif;
}

.inputsSelect{
    margin-top: 15px;
    margin-bottom: 20px;
    height: 30px;
    width: 300px;
    padding-left: 10px;
    font-family: "Quicksand", sans-serif;
}


.back{
    height: 40px;
    width: 150px;
    margin:20px 0 0 0;
    box-sizing: border-box;
    background-color: #494949;
    border-radius: 0;
    border:none;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    color: #D8C690;
    padding: 0px; 
    padding-left: 30px;
    margin-right: 5px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    opacity: 95%;
}

.buttons{
    position: absolute;
    left: 900px;
    top:  193px;
    display: flex;
    flex-direction: row;
}

.button{
    height: 40px;
    width: 145px;
    margin:20px 0 0 0;
    margin-right: 24px;
    box-sizing: border-box;
    background-color: #363636;
    border-radius: 1px;
    border:none;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    color: #D8C690;
    padding-bottom: 2px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    opacity: 90%;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.button:active{
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.button:hover{ 
  background-color: #5e5e5e;  
}

.icon{
    z-index: 1;
    position: relative;
    left: -107px;
    top: 32px;
    filter: invert(0.7) sepia(1);
    -webkit-filter: invert(0.7) sepia(1);
}

.iconBtn{
    position: relative;
    background-color: #363636;
    height: 40px;
    width: 40px;
    top: 20px;
    left:-432px;
    margin-bottom: 20px;
    margin-right: 176px;
}


input{
    font-size: 15px;
}

.emailAddress{
    position: absolute;
    top: 0px;
    left: 450px;
}

.officeAddress{
    position: absolute;
    top: 89px;
    left: 450px;
}

.verification{
    position: absolute;
    top: 180px;
    left: 450px;
}

.verificationImage{
    position: absolute;
    color: #D8C690;
    background-color: #363636;    
    height: 27.5px;
    width: 80px;
    left: 235px;
    top: 36px;
    text-align: center;
    align-content: center;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    padding-top: 7px;
}

.dateOfBirth{
    position: absolute;
    top: 0px;
    left: 900px;
}

.gender{
    position: absolute;
    top: 90px;
    left: 900px;
}

#gender{
    height: 35px;
    width: 314px;
}

.iconFilter{
    filter: invert(0.7);
    -webkit-filter: invert(0.7);
}


.lawyerOrAdmin{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    left: 976px;
    top: 295px;
    font-family: "Quicksand", sans-serif;
    font-size: larger;
    background-color: inherit;
    color: #363636;
    width: 360px;
    height: 100px;

}

.lawyersList{
    position: absolute;
    width: 1205px;
    height: fit-content;
    top:400px;
    left: 86px;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid;
    border-color: #5E5C5C;
}

th{
    background-color: #5E5C5C;
    color: #D8C690;
    font-weight: 400;
    font-size: 19px;
    line-height: 40px;
    border: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

th:hover{
    background-color: #868686;
}

td{
    background-color: #ffffff;
    line-height: 30px;
    border: 1px solid;
    border-color: #5E5C5C;
}

.table,th,td{
    font-family: "Quicksand", sans-serif;
}
 
.tableBtn{
    background-color: #5E5C5C;
    color: #D8C690;
    font-family: "Quicksand", sans-serif;
    border: none;
    cursor: pointer;
}

.tableBtn:active{
    background-color: #313131;
    box-shadow: 3px 2px 20px 1px rgba(0, 0, 0, 0.24);
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

.tableBtn:hover{
    background-color: #696969;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.tableLastCol{
    background-color: #5E5C5C;
}

.tableInput{
    width: 97%;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-family: "Quicksand", sans-serif;
}