body{
    background-color: #cfcfcf;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
}
.h{
    color: #D8C690;
}
.container a{
    text-decoration: none;
    color: #D8C690;
}
.menu {
    position: absolute;
    z-index: 2;
    width: 50px;
    background: rgb(32, 32, 32);
    top: 0;
    left:0px
}

.menu a {
    color: #D8C690;
    display: block;
    padding: 12px;
    text-decoration: none;
    line-height: 2;
    font-size: x-large;
    transition:0.5s ;
    -webkit-transition:0.5s ;
    -moz-transition:0.5s ;
    -ms-transition:0.5s ;
    -o-transition:0.5s ;
}

.menu a:hover {
    background-color: #696969 ;
}
.header{
    padding: 20px;
    width: 1436px;
    
}
.logo{ 
    position: relative;
    top: 4px;
    left: 30px;
    width: 300px;

    
}
.container{
    position:absolute;
    z-index:3 ;
    background-image:linear-gradient(to right,rgb(32, 32, 32),#363636);
    top: 0;
    left: 40px;
    width: 95%;
    height: 70px;
    padding: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.links{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 60px;
    font-size: 16px;
    letter-spacing: 5px;
    word-spacing: 15px;
}
hr{
    background-color: #D8C690;
    border: solid 0.5px;
    border-color: #D8C690;
    opacity: 50%;
}
.parent{
    background-color: #F4F4F4; 
    position:absolute;
    top: 80px;
    left: 65px;
    width: 1436px;
    height: 627px;
    padding: 0;
    

}
.header2{
    background-color: #5E5C5C;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0;
}


input{
    color: #D8C690;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;
    font-size: 17px;
    line-height: 42px;
    opacity: 90%;
    width: 300px;
}

textarea{
    margin-top: 15px;
}

hr{
    
    box-sizing: border-box;
    position: relative;
    left: 0px;
    top: 66px;
    background-color: #D8C690;
    border: solid 0.5px;
    border-color: #D8C690;
    margin-top: -1%;
    opacity: 50%;
    width: 59%;
}

.send, .back ,.save{
    height: 40px;
    width: 150px;
    margin:20px 0 0 0;
    box-sizing: border-box;
    background-color: #494949;
    border-radius: 2px;
    border:none;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    color: #D8C690;
    padding: 0px;
    margin-right: 20px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    opacity: 95%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.buttons{
    position: absolute;
    left: 613px;
    bottom: -500px;
}

::placeholder{
    box-sizing: border-box;
    color: #363636;;
}

.header2{
    background-color: #5E5C5C;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0;
    color:#D8C690;
}

.header2content{
    display: flex;
    flex-direction: row;
    width: 50%;
    position: absolute;
    top: 0px;
    left: -67px;
}

.header2Image{
    height: 100%;
    width: 68px;
    margin-left: 10px;
    position: relative;
    top: 14px;
    left: 20px;
    font-size: xx-large;

}

.header2Text{
    color: #D8C690;
    font-family:'Saira Extra Condensed', sans-serif;   
    font-size: 30px;
    font-weight: 500;
    width: 27px;
    margin-top: 14px;
    margin-left: -541px;
}

.child{
    flex: 1;
}

.fa-people-line{
    margin-right: 13px;
}

.child:first-child {
    margin-right: 0px;
}

.inputs{
    background-color:#F4F4F4;
    position: absolute;
    top: 110px;
    left: 65px;
    width: 1371px;
    height: 513px;
}
input{
    background-color: white;
    border:#363636 1px;
    border-style: solid;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    color: #363636;
    margin-top: 15px;
    padding-left: 10px;
    height: 36px;
    width: 316px;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
}
h3{
    margin-bottom: 2%;
    
}

.iconFilter{
    filter: invert(0.7);
    -webkit-filter: invert(0.7);
}

label{
    font-family: "Quicksand", sans-serif;
}

.session_date{
    position:absolute;
    top: 0px;
    left: 20px;
    height: 30px;
    width: 300px;
}
.next_date{
    position:absolute;
    top: 0px;
    left: 470px;
}
.session_attachments{
    position:absolute;
    top: 0px;
    left: 920px;
}
.session_attachments input{
    border: none;
    background-color: #F4F4F4;
}

.role_number{
    position:absolute;
    top: 89px;
    left: 470px;
}
.decision{
    position:absolute;
    top: 89px;
    left: 20px;
}
.session_reason{
    position:absolute;
    top: 180px;
    left: 20px;
}
.session_requirements{
    position:absolute;
    top: 180px;
    left: 470px;
}

.sessionreason,.sessionrequirements{
    width: 310px;
}
.session_buttons{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 260px;
    left: 920px;
    height: 40px;
    width: 334px;
}

button:active{
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button:hover{ 
    background-color: #5e5e5e;  
}

.login_toast{
    background-image: linear-gradient(to right,rgb(32, 32, 32),#363636);
    border-radius: 7%;
    position: absolute;
    z-index: 1;
    top: 108%;
    left: 56%;
    width: 125px;
    height: 68px;
    font-size:small ;   
}
.prof{cursor: pointer;}
.a1,.a2,.a3{
    position: relative;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 10%;
    color: rgb(40, 40, 40);
}

.a1{
    top: 3%;
    padding-right: 33%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.a1:hover , .a2:hover,.a3:hover{
    background-color:#999898 ;
}
.a2{
    top: 9%;
    padding-right: 34%;
    

}
.a3{
    top:17%;
    padding-right: 53%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}